.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
  gap: 20px;
  background-color: #c5c6c7;
  box-shadow: 0 8px 11px 0 rgba(203, 203, 203, 0.378),
    0 5px 20px 0 rgba(207, 207, 207, 0.188);
  padding: 20px;
  border-radius: 10px;
  min-height: 45vh;
}

@media only screen and (min-width: 900px) {
  .profile {
    margin: auto 40px;
    flex-wrap: nowrap;
  }
}
