.cardplace {
  background-color: #1f2833;
  box-shadow: 0 8px 11px 0 rgba(20, 20, 20, 0.378),
    0 5px 20px 0 rgba(22, 21, 28, 0.188);
  color: white;
  margin: 0 30px 16px 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 20px;
  cursor: pointer;
}

.avatar {
  /* padding: 10px; */
}

.local {
  align-items: center;
  margin: auto;
}

.local p {
  margin: 0;
}

.ratings {
  margin: auto;
}

.rating {
  margin-bottom: 0px !important;
}

@media only screen and (min-width: 900px) {
  .avatar {
    margin-left: 80px;
  }
}
